.form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 25px;
}

.submitButton {
    align-self: center;
    margin-top: 50px;
    height: 25px;
    width: 75px;
}

.input {
    margin-bottom: 20px;
}
