$breakpoints: (
    'tablet': 34.375rem,
    'laptop': 68.75rem,
    'desktop': 93.75rem,
);

//Colors
$seasalt: hsl(30, 25%, 97%);
$silver: hsl(0, 0%, 70%);
$dim-gray: hsl(160, 3%, 41%);
$night: hsl(206, 16%, 8%);
$hookers-green: hsl(159, 35%, 34%);
$imperial-red: hsl(0, 11%, 2%);
$powder-blue: hsl(202, 40%, 74%);
$linen: hsl(29, 45%, 91%);
$sunglow: hsl(43, 99%, 68%);
$dark-orange: hsl(29, 100%, 60%);

$background: $linen;
$black: $night;
$white: $seasalt;
