.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 2px solid gray;
    height: 75px;
}

.infoAndLogout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 16rem;
}
