.dashboard {
    display: flex;
    flex-direction: column;
    height: calc(100svh - 75px);
    justify-content: center;
    align-items: center;
}

.buttonAdd {
    justify-self: flex-end;
    align-self: flex-end;
    width: 45px;
    height: 45px;
    border-radius: 50px;
}
