.petList {
  padding: 16px;
  //background-color: #f9f9f9;
}

  .list {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 50%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .listItem {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
  }
  
  .listItemText {
    flex: 1;
    padding-right: 16px;
  }
  
  .listItemButtons {
    display: flex;
    gap: 8px;
  }
  
  .listItemButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
  }
  
  .listItemIcon {
    min-width: 0;
  }
  
  .link, .name {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }

  .name {
    flex-grow: 1;
    &:hover {
      color: #2196f3
    }
  }

  .placeholder {
    display: flex;
    justify-content: center;
    padding: 8px 16px;
  }
