
.planTitle {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 24px;
}

.schedule {
    min-height: 65vh;
    width: 85vw;
}

.bottom {
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
}

